.boxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 23px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../Images/Icons/mobileRegistr.webp');
  background-color: #101010;
}

@media only screen and (min-width: 768px) {
  .boxForm {
    background-image: url('../../Images/Icons/tabletRegistr.webp');
  }
}

@media only screen and (min-width: 1280px) {
  .boxForm {
    background-image: url('../../Images/Icons/desctopRegister.webp');
  }
}
/* .boxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 20px;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.1);
} */

/* .gradient {
  position: absolute;
  width: 454px;
  height: 454px;
  border-radius: 454px;
  background: rgba(47, 21, 176, 0.73);
  filter: blur(100px);
  inset: 0;
  margin: 0 auto;
} */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 100%;
  height: 100%;
  width: 533px;
  height: 570px;
  top: 75px;
  left: 374px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #fbfbfb;
  font-size: 19.111px;
  font-weight: 400;
  margin-bottom: 40px;
}

.labelBox {
  max-width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 25px;
}

.label {
  display: block;
  color: rgba(156, 163, 175, 1);
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 100%;
  width: 280px;
}

.userIcon, .emailIcon, .passwordIcon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  margin-left: 12px;
}

.inputField {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 11px;
  position: relative;
}

.eye {
  position: absolute;
  top: 2px;
  right: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.noEyeIcon, .eyeIcon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
}

.error {
  margin-left: 12px;
  margin-top: 7px;
  color: #e88181;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 0px;
}

.registerButton {
  margin-top: 20px;
  border-radius: 20px;
  max-height: 50px;
  padding: 13px 0;
  background: linear-gradient(97deg, #ffc727 -16.42%, #9e40ba 97.04%, #7000ff 150.71%);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  border: none;
  color: #fbfbfb;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 280px;
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.registerButton:hover {
  transform: scale(0.99);
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.5);
}

.link {
  width: 100%;
  max-width: 280px;
  max-height: 50px;
  padding: 13px 0;
  outline: transparent;
  cursor: pointer;
  margin-top: 20px;
  color: rgba(98, 63, 139, 1);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  background: #fcfcfc;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.link:hover {
  transform: scale(0.99);
  box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.5);
}
.registerBox{
width: 533px;
  height: 570px;
  top: 75px;
  left: 374px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
.iconLogo {
  width: 28px;
  height: 35px;
   
  }
  
  .title {
    color: var(--white, #fbfbfb);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    @media only screen and (min-width: 768px) {
      font-size: 26.963px;
      -webkit-background-clip: text;
    -webkit-text-fill-color:#fbfbfb ;
    }}
    .logoGroup{
      display: flex;
      flex-direction: column;
      align-items: center;

    }


    .strengthBar {
      width: 100%;
      height: 3px; 
      display: flex;
      gap: 2px;
      margin-top: 5px;
    }
    
    .strengthSegment {
      flex: 1;
      height: 100%;
      background-color: #e0e0e0; 
    }
    
    .strengthSegment.veryWeak {
      background-color: red;
    }
    
    .strengthSegment.weak {
      background-color: orange;
    }
    
    .strengthSegment.medium {
      background-color: green;
    }
    
    .strengthSegment.strong {
      background-color: green;
    }
    