


.dropdownContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.inputText {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selectDropdown {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
