@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navLinks {
  padding: 12px 62px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  text-decoration: none;

  span {
    display: none;
  }

  .linkContainer {
    a {
      text-decoration: none;
      color: #fbfbfb;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: left;
    }

    a:active {
      font-weight: 700;
    }

    div {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      gap: 20px;

      .iconenvelope {
        width: 44px;
        height: 44px;
        fill: #fbfbfb;
      }

      .iconenvelope:active {
        fill: #4a56e280;
      }
    }
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  .leftSide {
    background-image: url('../../../Images/Ellipse\ 19.png');
    width: 100%;
    background: linear-gradient(207.18deg, #341fa0 46.11%, #652392 63.65%),
      linear-gradient(
        219.62deg,
        rgba(109, 84, 235, 0.6) 28.31%,
        rgba(101, 35, 146, 0.6) 66.76%
      );

    .balanceContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0px;
      border-radius: 8px;
      background-color: #ffffff2a;
      margin: 0px 20px;
      box-sizing: border-box;

      .balanceWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 0px 11px 32px;
        gap: 12px;
        width: 100%;
        height: 100%;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        color: #ffffff66;
        box-sizing: border-box;
      }

      .balanceSold {
        font-family: Poppins;
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        color: #fbfbfb;
      }
    }

    .currencyContainer {
      margin-top: 32px;
      box-shadow: 0px 4px 60px 0px #00000040;
      text-align: center;

      .currencyTable {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        color: #fbfbfb;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        tr {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0px;
          padding: 16px;
        }
        thead {
          background-color: #ffffff33;
          align-items: center;
        }

        tbody {
          display: flex;
          flex-direction: column;
        }

        th,
        td {
          flex: 1;
        }
      }

      .chartContainer {
        width: 100%;
        padding: 16px;
        align-items: center;
      }
    }
  }

  .rightSide {
    background: linear-gradient(
      219.62deg,
      rgba(109, 84, 235, 0.6) 28.31%,
      rgba(101, 35, 146, 0.6) 66.76%
    );
    width: 100%;
    padding: 0px;

    .statistics {
      width: 100%;
    }

    .table {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }

    .tableHeader {
      color: #f4f4f4;
      font-weight: bold;
      display: none;
    }

    .tableRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px 0;
      border: Mixed solid;
      width: 280px;
      height: 293px;
      gap: 0px;
      box-sizing: border-box;
    }

    .tableCell {
      padding: 8px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ffffff33;
      color: #fbfbfb;
    }

    .tableCell:last-child {
      border-bottom: 0px;
    }

    .transaction {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      background-color: #ffffff34;

      .tableRow {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        border-radius: 10px 0px 0px 0px;
        display: flex;
        flex-direction: column;

        div {
          span {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;

            width: 39px;
            height: 24px;
            top: 252px;
            left: 40px;
            gap: 0px;
            opacity: 0px;
          }
        }
      }
    }

    .deleteBtn {
      background-color: #ff4d4d;
      color: white;
      border: none;
      padding: 4px 8px;
      cursor: pointer;
      border-radius: 4px;
    }

    .deleteBtn:hover {
      background-color: #ff1a1a;
    }

    .editBtn {
      border: none;
      background: none;
      color: inherit;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      margin: 0;
      appearance: none;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #ffffff99;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 100%;

        .editIcon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1178px) {
  .navLinks {
    padding: 40px 339px 28px 16px;
    list-style-type: none;
    flex-direction: column;
    gap: 12px;

    span {
      display: contents;
    }

    .linkContainer {
      div {
        .iconenvelope {
          width: 24px;
          height: 24px;
        }
      }
    }

    .linkContainer:last-child {
      display: none;
    }
  }

  .homeContainer {
    flex-direction: row;
   

    .leftSide {
      .balanceContainer {
        box-shadow: 1px 9px 15px 0px #00000033;
        background-color: #523b7e99;
        border-radius: 0px;
        width: 100%;
        margin: 0;
        padding: 0;

        .balanceWrapper {
          justify-content: flex-start;
          align-items: flex-start;
          padding: 8px 0px 11px 56px;
        }
      }

      .currencyContainer {
        margin-top: 32px;
        box-shadow: 0px 4px 60px 0px #00000040;
        text-align: center;

        .currencyTable {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: center;
          color: #fbfbfb;
          width: 100%;
          max-width: 600px;
          margin: 0 auto;

          tr {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px;
            padding: 16px;
          }
          thead {
            background-color: #ffffff33;
            align-items: center;
          }

          tbody {
            display: flex;
            flex-direction: column;
          }

          th,
          td {
            flex: 1;
          }
        }

        .chartContainer {
          width: 100%;
          padding: 16px;
          align-items: center;
        }
      }
    }

    .rightSide {
 
      .table {
        display: grid;
        border-collapse: collapse;
      }

      .tableHeader {
        display: block;
        background-color: #ffffff34;
      }

     

      .tableRow {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        height: 100%;
      }

      .tableCell {
        border-bottom: 0px;
        span {
          display: none;
        }
      }

      .transaction {
        border-radius: 0px;
        background-color:transparent;
        border-bottom: 1px solid #ffffff33;

  
        .tableRow {
          flex-direction: row;

          div {
            span {
              
            }
          }
        }
        .tableCell:last-child {
          display: flex;
          flex-direction: row-reverse;
          gap: 8px;


        }

      }

      .deleteBtn {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 4px 8px;
        cursor: pointer;
        border-radius: 4px;
      }

      .deleteBtn:hover {
        background-color: #ff1a1a;
      }

      .editBtn {
        border: none;
        background: none;
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        margin: 0;
        appearance: none;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff99;
        align-items: center;
  
        div {
          display: flex;
          justify-content: center;
          gap: 5px;
          width: 100%;
  
          span {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}
